"""
Django developers settings for conf project.
"""

# Формула рейтинга постов
RATING_FORMULA = 's / ((10 * r + l) / t )'

# Количество постов запрашиваемое за один запрос (не больше 100)
# https://vk.com/dev/wall.get
POST_COUNT = 100

# Расписание выполнения задач (аналог CRON)
# CELERYBEAT_SCHEDULE = {
#     'send_deadline_notifications': {
#         'task': 'send_deadline_notifications',
#         'schedule': crontab(minute='0', hour='12'),
#     },
# }