# -- coding: utf-8 --
"""
ШАБЛОН Настройки приложения VK Reposter.

Необходимо создать файл settings_local.py в текущей директории на основе данного файла.
"""


# Расписание выполнения задач (аналог CRON)
from celery.schedules import crontab
CELERYBEAT_SCHEDULE = {
    'parse_posts': {
        'task': 'parse_posts',
        'schedule': crontab(minute='0', hour='*'),
    },
    'repost_posts': {
        'task': 'repost_posts',
        'schedule': crontab(minute='10', hour='*'),
    },
}
